body
{
    font-family: "Raleway", serif ;
    background-color: #FFF;
    max-width: 1400px;
}
.img-div, .third-img, .img-div-margin
{
    box-shadow: 2px 2px 15px darkgrey;
}
/*************************************** HEADER ************************************/
header
{
    display: flex;
    align-items: flex-end;
}
#booki
{
    margin-top: 44px;
    margin-left: 50px;
    width: 61px;
    height: 19px;
}
nav
{
    width: 500px;
    margin-left: 1000px;
    display: flex;
    justify-content: space-evenly;
    /*box-sizing: content-box; */  
}
.a-color
{
    padding-top: 62px;
}
.a-color:hover
{
    color: #0065FC;
    border-top: 2px solid #0065FC;
    padding-top: 60px;
}
a
{
    color: black;
    text-decoration: none;
}

/*************************************** TROUVEZ VOTRE HEBERGEMENTS ************************************/
#search-h2
{
    margin-left: 50px;
    margin-top: 63px;
    margin-bottom: 8px;
}
#search-p
{
    margin-left: 50px;
    margin-top: 0;
}
#search-icon
{
    width: 50px;
    height: 49px;
    background: #F2F2F2;
    border: solid 1px #F2F2F2;
    border-radius: 15px 0px 0px 15px;
    margin-left: 50px;
}
.fas
{
    margin-left: 18px;
    margin-top: 16px;
    font-size: 21px;
}
#search-city
{
    width: 185px;
    border: solid 1px #F2F2F2;
}
form
{
    display: flex;
}
#btn-search
{
    background-color: #0065FC;
    border: none;
    border-radius: 0px 15px 15px 0px;
    color: #FFF;
    width: 132px;
    font-weight: bolder;
    font-size: 18px;
}

/*************************************** FILTRES ************************************/
#title-filter
{
    margin-left: 50px;
    margin-top: 46px;
}
#global-filter-div
{
    display: flex;
}
#global-filter-div .fa-solid
{
    font-size: larger;
    margin: 46px 20px auto auto;
    color: #0065FC; 
}
.filter-div
{
    display: flex;
    margin-left: 60px;
}
.border
{
    border: solid 2px #F2F2F2;
    border-radius: 50px;
    width: 180px;
    height: 40px;
    margin-top: 35px;
    margin-left: -15px;
    position: absolute;
}
.familial-border
{
    width: 140px;   
}
.animaux-border
{
    width: 235px;
}
.filter
{
    margin-top: 46px;
}
.border:hover
{
    background-color: #0065fc3e;
    /*background-color: #DEEBFF;*/
}
/*********************************** INFO P *********************************/
#info-div
{ 
    display: flex;
}
#info-p
{
    margin-left: 11px;
}
.fa-info
{
    color: black;
    font-size: smaller;
}
#icon-info
{
    margin-left: 50px;
    margin-top: 10px;
    border: #0065FC solid 1px;
    border-radius: 30px;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/****************************** FIRST SECTION *********************************/
#main-section-div
{
    display: flex;
}
#first-section
{
    background-color: #F2F2F2;
    width: 63%;
    height: 640px;
    border-radius: 20px;
    margin-left: 50px;
    padding-bottom: 40px;
}
.section-h3
{
    padding-left: 40px;
    padding-top: 42px;
    font-size: 22px;
    font-weight: 700;
}
#first-section-div
{
    display: flex;
    flex-wrap: wrap;
    width: auto;
    justify-content: space-evenly;
}
.img-div-p
{
    margin-left: 15px;
    margin-top: 10px;
    font-weight: bold;
    margin-bottom: 0%;
}
.first-section-p
{
    margin: 8px 15px;
}
.fa-star
{
    font-size: 15px;
    color: #0065FC;
    margin-right: -2px;
}
.grey-star
{
    color:#F2F2F2
}

.icon-div
{
    margin-left: 15px;
}
.img-div
{
    background-color:#FFF;
    border: #FFF solid 4px;
    height: auto;
    border-radius: 25px; 
}
.img-div-margin
{
    margin-top: 30px;
}
.first-img
{
    width: 246px;
    height: 124px;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
}
#see-more
{
    margin-left: 44px;
    margin-top: 40px;
}
/********************************* SECOND SECTION ***********************/
#second-section
{
    background-color: #F2F2F2;
    border-radius: 20px;
    margin-left: 50px;
    width: 30%;
}
#head-section
{
    display: flex;
}
.fa-chart-line
{
    margin-top: 70px;
    margin-left: 120px;
    color: #0065FC;
}
.second-section-img
{
    object-fit: cover;
    width: 137px;
    height: 130px;
    border-radius: 20px 0 0 20px;
    margin-left: 2px;
    margin-top: 2px;
}
.second-card
{
    background-color:#FFF;
    border: #FFF solid 2px;
    width: 343px;
    height: 135px;
    border-radius: 25px;
    margin-left: 30px;
    margin-bottom: 40px;
    display: flex;
    box-shadow: 2px 2px 15px darkgray;
}
.second-card-icon
{
    display: flex;
    align-items: flex-end;
    height: 48px
}
.margin-right-star
{
    margin-right: 2px;
}
.margin-star
{
    margin-top: 50px;
    margin-left: 15px;
}
.second-img-div
{
    display: flex;
}
/*********************************** THIRD SECTION ************************/
#third-section
{
    margin-left: 50px;
}
#third-section-h3
{
    font-size: 22px;
    font-weight: 700;
}
#third-img-div
{
    display: flex;
    justify-content: space-around;
    margin-bottom: 60px;
    padding-left: 45px;
}
.third-section-img
{
    width: 300px;
    height: 444px;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
}
.third-img
{
    border-radius: 20px;
    margin-right:48px;
    padding-bottom: 2px;
}

.third-p
{
    padding-left: 20px;
    font-weight: 700;
}
/************************************ FOOTER ******************************/
footer
{
    display: flex;
    padding-left: 70px;
    background-color: #F2F2F2;
    height: 225px;
    margin-left: 48px;
}
h4
{
    margin-top: 45px;
}
li
{
    list-style: none;
    margin-bottom: 12px;
    margin-right: 240px;
}
ul
{
    padding-left: 0%;
}

/****************************************************************/
@media screen and (max-width: 1024px)
{
    #first-section
    {
        width: 90%;
        margin-bottom: 53px;
    }

    .section-h3
    {
        margin-right: 522px;
    }
    .third-section-img
    {
        height: 205px;
        width: 190px;
    }
    .third-img
    {
        height: 276px;
    }
    #main-section-div
    {
        display: block;
    }
    .third-p
    {
        margin-top: 25px;
    }

    .margin-star
    {
        
        margin-top: 28px;
    }

    #second-section
    {
        width: 90%;
    }

    .second-card
    {
        width: 270px;
        height: 144px;
    }

    .res
    {
        display: flex;
    }

    .second-section-img
    {
        height: 140px;
    }

    .second-card-icon
    {
        height: 24px;
    }

    footer
    {
        width: 90%;
    }
}